*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  color: #fff;
  background-color: #666;
}

div.search {
  display: grid;
  place-items: center;
}

input.search {
  appearance: none;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  margin: 15px 0 60px;
  padding: 7px 17px;
  color: #000;
  background-color: #fff;
  width: 380px;
}

.data {
  display: grid;
  min-height: calc(99vh - 1.2rem - 89px);
  place-items: center;
}

.no-data,
.weather-window {
  width: 1600px;
  height: 680px;
  background-color: #000;
  padding: 11px;
}

.no-data {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

.weather-window {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 33px;
}

.current-weather {
  grid-column: 1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto auto 2fr 1fr 1fr;
  gap: 17px 0;
}

.current-weather > div {
  display: grid;
  align-items: center;
}

.location {
  grid-row: 1;
  grid-column: 1 / -1;
  font-size: 2.4rem;
  font-weight: 600;
}

.date-time {
  grid-row: 2;
  grid-column: 1 / -1;
  font-size: 2rem;
}

.current-weather .weather-icon {
  grid-row: 3 / -1;
  grid-column: 1;
  gap: 16px;
  align-content: center;
  justify-content: center;
  font-size: 1.666666rem;
}

.current-weather .weather-icon svg {
  font-size: 14rem;
}

.current-weather .temperature {
  grid-row: 3;
  grid-column: 2;
  justify-content: center;
  font-size: 3.4rem;
  font-weight: 700;
}

.fl-temperature {
  grid-row: 4;
  grid-column: 2;
  font-size: 2rem;
  font-weight: 700;
}

.uv-index {
  grid-row: 5;
  grid-column: 2;
  font-size: 2rem;
}

.hour-forecast,
.daily-forecast {
  display: flex;
  gap: 42px;
  overflow-x: auto;
  scrollbar-width: thin;
}

.hour-forecast {
  grid-column: 2;
  grid-row: 1;
}

.daily-forecast {
  grid-column: 2;
  grid-row: 2;
}

.hour {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.hour .hour-display {
  font-size: 2rem;
  font-weight: 600;
}

.hour .weather-icon {
  font-size: 1.4rem;
  display: grid;
  gap: 9px;
  place-items: center;
  align-content: center;
  text-align: center;
}

.hour .weather-icon svg {
  font-size: 5rem;
}

.hour .temperature {
  font-size: 1.6rem;
}

.day {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
}

.day .date {
  grid-row: 1;
  grid-column: 1 / -1;
  font-size: 2rem;
  font-weight: 700;
}

.day .weather-icon {
  grid-row: 2 / 4;
  grid-column: 1;
  display: grid;
  gap: 9px;
  place-items: center;
  align-content: center;
  font-size: 1rem;
  text-align: center;
}

.day .weather-icon svg {
  font-size: 3rem;
}

.day .max-temp {
  grid-row: 2;
  grid-column: 2;
  font-size: 1.2rem;
  place-self: center;
}

.day .min-temp {
  grid-row: 3;
  grid-column: 2;
  font-size: 1.2rem;
  place-self: center;
}

.day .rain-chance {
  grid-row: 4;
  grid-column: 1 / -1;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}
