*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  color: #fff;
  background-color: #666;
}

div.search {
  display: grid;
  place-items: center;
}

input.search {
  appearance: none;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  margin: 15px 0 60px;
  padding: 7px 17px;
  color: #000;
  background-color: #fff;
  width: 380px;
}

.data {
  display: grid;
  min-height: calc(99vh - 1.2rem - 89px);
  place-items: center;
}

.no-data,
.weather-window {
  width: 1600px;
  height: 680px;
}

.no-data {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

.hidden {
  display: none;
}
